<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{ folder }}</ion-title> -->
    <ion-title>Estimate</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
    <ion-datetime></ion-datetime>


  </div>
</ion-content> -->


<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col> <ion-label position="stacked">Start Date</ion-label>
    </ion-col>
    <ion-col>
      <ion-datetime-button datetime="startDate"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="startDate" [(ngModel)]="start"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col> <ion-label>End Date</ion-label></ion-col>
    <ion-col>
      <ion-datetime-button datetime="endDate"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="endDate" [(ngModel)]="end"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col> <ion-label>Box dimensions in inches</ion-label>
    </ion-col>
    <ion-col>
      <ion-input [(ngModel)]="length"></ion-input>
      <ion-input [(ngModel)]="width"></ion-input>
      <ion-input [(ngModel)]="depth"></ion-input>
      <ion-button (click)="calculate()">calculate</ion-button>
      <ion-col> <ion-label>square feet: {{total}}</ion-label></ion-col>
      <ion-col> <ion-label>square feet: {{total}}</ion-label></ion-col>

    </ion-col>

  </ion-row>




</ion-content>